/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$base-color: lighten(#2a1e2a ,10%);
$background-color: lighten(blue,48%);
$font-family: dynamic(slab serif);
$checkboxfield-checkbox-color: lighten(red,10%);